.cab.cart
  .cart__block
    .cab__breadcrumbs
      a.cab__breadcrumbs_link(href="")
        i.fa.fa-home
        span Главная
      span.cab__breadcrumbs_span Кабинет клиента
    span.cab__block_title Кабинет клиента 
    .cab__btns
      .cab__btn.cab__btn--mes.cab__btn--active
        i
        span Уведомления
      .cab__btn.cab__btn--history
        i
        span История заказов
      .cab__btn.cab__btn--auto
        i
        span Мои автомобили
      .cab__btn.cab__btn--data
        i
        span Личные данные
    .cab__links
      span.cab__link.cab__link--active Все 
      span.cab__link Заказы
      span.cab__link Понижение цены
      span.cab__link Акции и новости
        i.fa.fa-star-o
    .cab__list
      .cab__item
        .cab__item_icon
          i.fa.fa-shopping-cart 
        .cab__item_content
          span.cab__item_date 01.01.2015
          span.cab__item_title Ваш заказ принят в обработку
          span.cab__item_subtitle Заказ № 001586 принят в обработку. Ожидайте звонка менеджера.
          span.cab__item_details Детали
            i.fa.fa-angle-double-down
          .cab__item_hidetext
            span На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. 
        a.cab__item_link(href="") перейти к заказу
          i.fa.fa-long-arrow-right

      .cab__item
        .cab__item_icon
          i.fa.fa-money 
        .cab__item_content
          span.cab__item_date 01.01.2015
          span.cab__item_title Новая цена на «Колодки Passat» 5 
          span.cab__item_subtitle Цена на тормозные колодки снижена
          span.cab__item_details Детали
            i.fa.fa-angle-double-down
          .cab__item_hidetext
            span На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. 
        a.cab__item_link(href="") перейти к заказу
          i.fa.fa-long-arrow-right

      .cab__item
        .cab__item_icon.cab__item_icon--sale
          i.fa.fa-star 
        .cab__item_content
          span.cab__item_date 01.01.2015
          span.cab__item_title Акция! Закажи до 21 февраля — получи скидку 28% на товары группы «Масла»
          span.cab__item_subtitle Заказ № 001586 принят в обработку. Ожидайте звонка менеджера.
          span.cab__item_details Детали
            i.fa.fa-angle-double-down
          .cab__item_hidetext
            span На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. 
        a.cab__item_link(href="") подробности акции
          i.fa.fa-long-arrow-right

      .cab__item
        .cab__item_icon
          i.fa.fa-plus-circle 
        .cab__item_content
          span.cab__item_date 01.01.2015
          span.cab__item_title Новые поступления в магазин 
          span.cab__item_subtitle Заказ № 001586 принят в обработку. Ожидайте звонка менеджера.
          span.cab__item_details Детали
            i.fa.fa-angle-double-down
          .cab__item_hidetext
            span На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. 
        a.cab__item_link(href="") Смотреть
          i.fa.fa-long-arrow-right

      .cab__item
        .cab__item_icon
          i.fa.fa-shopping-cart 
        .cab__item_content
          span.cab__item_date 01.01.2015
          span.cab__item_title Ваш заказ принят в обработку 
          span.cab__item_subtitle Заказ № 001586 принят в обработку. Ожидайте звонка менеджера.
          span.cab__item_details Детали
            i.fa.fa-angle-double-down
          .cab__item_hidetext
            span На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. 
        a.cab__item_link(href="") перейти к заказу
          i.fa.fa-long-arrow-right

      .cab__more-btn Показать еще 54 сообшения
  
    .cab__history
      table.cab__history_table
        tr
          th.cab__history_sortst Номер заказа 
            i.fa.fa-sort-desc
          th Дата
            i.fa.fa-sort-desc
          th Сумма заказа
            i.fa.fa-sort-desc
          th Статус заказа
            i.fa.fa-sort-desc
          th Авто
            i.fa.fa-sort-desc
        tr
          td
            a.cab__history_table-link(href="") 012345
          td 15.12.2017
          td 12300,00 грн
          td Доставлено
          td 2005 Daihatsu Extol
        tr
          td
            a.cab__history_table-link(href="") 012344
          td 13.12.2017
          td 12300,00 грн
          td Доставлено
          td 2005 Daihatsu Extol
        tr
          td
            a.cab__history_table-link(href="") 012343
          td 13.12.2017
          td 12300,00 грн
          td Доставлено
          td 2005 Daihatsu Extol
      .cab__more-btn Еще заказы

    .cab__garage
      .cab__garage_item
        .cab__garage_item_img
          .overflow
            img(src="img/auto-model/vw/sirocco.png", alt="")
          .cab__garage_item_img-add
            span +
            b Загрузить фото
        .cab__garage_item_content
          .cab__garage_item_title
            span.cab__garage_item_title-text Volkswagen
            span.cab__garage_item-addvin  
              span +
              | привязать вин-код
            .cab__garage_item_vin
              input(type="text")
              span.cab__garage_item_vin--edit
                i.fa.fa-pencil-square-o
              button.cab__garage_item_vin--save Сохранить
            a.cab__garage_item_vin--link(href="") Подобрать запчасти по ВИН-коду
              i.fa.fa-long-arrow-right
          .cab__garage_item_data
            span Sirocco
            span 2006
            span Внедорожник
            span 1.9 дизель 
            span 1.9 (62 кВт / 84л.с.)
        a.cab__garage_item--getbtn(href="") Подобрать запчасти
          i.fa.fa-long-arrow-right
      .cab__garage_item
        .cab__garage_item_img
          .overflow
            img(src="img/auto-model/vw/sirocco.png", alt="")
          .cab__garage_item_img-add
            span +
            b Загрузить фото
        .cab__garage_item_content
          .cab__garage_item_title
            span.cab__garage_item_title-text Volkswagen
            span.cab__garage_item-addvin  
              span +
              | привязать вин-код
            .cab__garage_item_vin
              input(type="text")
              span.cab__garage_item_vin--edit
                i.fa.fa-pencil-square-o
              button.cab__garage_item_vin--save Сохранить
            a.cab__garage_item_vin--link(href="") Подобрать запчасти по ВИН-коду
              i.fa.fa-long-arrow-right
          .cab__garage_item_data
            span Sirocco
            span 2006
            span Внедорожник
            span 1.9 дизель 
            span 1.9 (62 кВт / 84л.с.)
        a.cab__garage_item--getbtn(href="") Подобрать запчасти
          i.fa.fa-long-arrow-right

    .cab__data
      .cab__data_line
        span.cab__data_line_span Ваше имя
        .cab__data_line_input
          input(type="text")
          .input-buffer
          .cab__data_line--edit
            i.fa.fa-pencil-square-o
            span Редактировать
          .cab__data_line--accept
            i.fa.fa-check
          .cab__data_line--decline
            i.fa.fa-times
      .cab__data_line
        span.cab__data_line_span Фамилия
        .cab__data_line_input
          input(type="text")
          .input-buffer
          .cab__data_line--edit
            i.fa.fa-pencil-square-o
            span Редактировать
          .cab__data_line--accept
            i.fa.fa-check
          .cab__data_line--decline
            i.fa.fa-times
      .cab__data_line
        span.cab__data_line_span Номер телефона
        .cab__data_line_input
          input(type="text")
          .input-buffer
          .cab__data_line--edit
            i.fa.fa-pencil-square-o
            span Редактировать
          .cab__data_line--accept
            i.fa.fa-check
          .cab__data_line--decline
            i.fa.fa-times
      .cab__data_line
        span.cab__data_line_span E-mail
        .cab__data_line_input
          input.error(type="email")
          .input-buffer
          .cab__data_line--edit
            i.fa.fa-pencil-square-o
            span Редактировать
          .cab__data_line--accept
            i.fa.fa-check
          .cab__data_line--decline
            i.fa.fa-times
      
      span.cart__deliv_title Адреса доставки
      .cab__data_address
        .cab__data_address--text
          span.cab__data_address-title г. Бровары,  Отделение НП №1
          span.cab__data_address-prim
          span.cab__data_address-prim_text
        .cab__data_address_btns
          .cab__data_line--edit
            i.fa.fa-pencil-square-o
            span Редактировать
          .cab__data_line--decline.cab__data_address-delete
            i.fa.fa-times
      .cab__data_address
        .cab__data_address--text
          span.cab__data_address-title г. Киев, ул. Киевская д.154
          span.cab__data_address-prim Примечание
          span.cab__data_address-prim_text Заходить со двора дома 49
        .cab__data_address_btns
          .cab__data_line--edit
            i.fa.fa-pencil-square-o
            span Редактировать
          .cab__data_line--decline.cab__data_address-delete
            i.fa.fa-times
      
          

            

  .cab__analog
    i.fa.fa-question-circle-o
    span.cab__analog_title Нужна дополнительная консультация специалиста?
    span.cab__analog_subtitle Телефон отдела продаж
    a.cab__analog_phone  +38 (044) 361-34-14



