.category.card
  .category__block
    .cab__breadcrumbs
      a.cab__breadcrumbs_link.cab__breadcrumbs_link--prev(href="") 
        i.fa.fa-long-arrow-left
        | Назад
      a.cab__breadcrumbs_link(href="")
        i.fa.fa-home
        span Главная
      a.cab__breadcrumbs_link(href="")
        span Каталог запчастей
      span.cab__breadcrumbs_span Масляные фильтры
    .category__title
      span.category__title_span Масляный фильтр NIPPARTS- J1310500 
      .card__add-favourite
        i.fa.fa-star-o
        span Добавить в избранное
    .check-auto
      .check-auto__left
        span.check-auto__left_span Выбранный автомобиль
        a.check-auto__change(href="") Выбрать другой
          i.fa.fa-angle-double-down
      .check-auto__content
        img.check-auto__img(src="img/auto-model/vw/sirocco.png", alt="")
        .check-auto__content_text
          span.check-auto__name Volkswagen
          .check-auto__tth
            span Sirocco
            span 2006
            span Внедорожник
            span 1.9 дизель 
            span 1.9 (62 кВт / 84л.с.)
    .card__status.card__status--accept Данная запчасть подходит к выбранному авто
    .card__status.card__status--decline Данная запчасть не подходит к выбранному авто
    .card__content
      .card__flex
        .card__block--shadow
          .card__slider-block
            .card__slider_img
              img(src="img/slide.jpg", alt="")
            .card__slider
              .card__slider_item
                img(src="img/slide.jpg", alt="")
              .card__slider_item
                img(src="img/slide.jpg", alt="")
              .card__slider_item
                img(src="img/slide.jpg", alt="")
          .card__slider-block
            span.card__slider_span Выберите подходящие вам стоимость и срок доставки
            .card__slider_status
              span.card__slider_status--in 
                i
                | В наличии
              .card__slider_price
                b 1258.00 
                | грн
              label.category__filter_label
                input(type="checkbox")
                span.category__filter_label_custom
                  i.fa.fa-square-o
                  i.fa.fa-check-square-o
            .card__slider_status
              span.card__slider_status--day 
                i
                | На складе — отправим в течении дня
              .card__slider_price
                b 1200.00 
                | грн
              label.category__filter_label
                input(type="checkbox")
                span.category__filter_label_custom
                  i.fa.fa-square-o
                  i.fa.fa-check-square-o
            .card__slider_status
              span.card__slider_status--day 
                i
                | Срок доставки 10 дней
              .card__slider_price
                b 900.00 
                | грн
              label.category__filter_label
                input(type="checkbox")
                span.category__filter_label_custom
                  i.fa.fa-square-o
                  i.fa.fa-check-square-o
            .card__slider_cart Добавить в корзину
              i.fa.fa-arrow-long-right
            form.card__slider_form.cart__analog_form(action="")
              b Купить в один клик
              span +38  
              input(type="text" placeholder="(___)-___-__-__")
              input(type="submit")
              i.card__slider_form_text Укажите свой номерн телефона и наш менеджер с вами свяжется в ближайшее время
        .card__deliv
          .card__deliv_block
            span.card__deliv_title Доставка по Киеву
            .card__deliv_flex 
              .card__deliv_flex-item
                | Бесплатная доставка 
                span до 3-х дней
              .card__deliv_flex-item
                | Платная доставка 
                span 1 день / 50грн
            i.card__slider_form_text Осуществляется курьером нашей компании. Детальные условия доставки вы сможете уточнить у менеджера.
          .card__deliv_block
            span.card__deliv_title Доставка по Украине
            a(href="")
              img(src="img/nova.png", alt="")
          .card__deliv_block
            span.card__deliv_title Как можно оплатить?
            .card__deliv_flex 
              .card__deliv_flex-item.card__deliv_flex-item--border
                .card__deliv_flex-item--img
                  img(src="img/icons/nal.png", alt="")
                | Наличными в офисе или курьеру
              .card__deliv_flex-item.card__deliv_flex-item--border
                .card__deliv_flex-item--img
                  img(src="img/icons/privat.png", alt="")
                | На карту ПриватБанка
              .card__deliv_flex-item
                .card__deliv_flex-item--img
                  img(src="img/icons/beznal.png", alt="")
                | Безналичная оплата ТОВ
              .card__deliv_flex-item
                .card__deliv_flex-item--img
                  img(src="img/icons/nalogh.png", alt="")
                | Наложенным платежом
      .card__analog
        .card__analog_title
          b Запчасти аналоги
          span Если у вас возникнут вопросы при подборе аналогичных запчастей уточняйте детали у менеджера
        .card__analog_item
          i.fa.fa-star-o
          span.card__analog_item-title Воздушный фильтр для Honda CR-V Meyle 31-12 321 0018
          span.card__analog_item-price
            b   от 958.00 
            | грн
          a.card__analog_item-link(href="")
            i.fa.fa-long-arrow-right
        .card__analog_item
          i.fa.fa-star-o
          span.card__analog_item-title Воздушный фильтр для Honda CR-V Meyle 31-12 321 0018
          span.card__analog_item-price
            b   от 958.00 
            | грн
          a.card__analog_item-link(href="")
            i.fa.fa-long-arrow-right
      .card__about
        .card__about_block
          span.card__about_title О производителе
          .card__about_caption
            img(src="img/icons/meile.png", alt="")
            span 
              b MEYLE 
              | (Германия)
            img(src="img/icons/germany.png", alt="")
          p.card__about_text по словам специалистов немецкой компании Wulf Gaertner Autoparts AG, выпускающей запчасти под маркой MEYLE, это лишь «хорошее китайское качество». Да, можно взять рекомендованные материалы и изготовить деталь в точном соответствии с оригинальным чертежом. Но будет ли она работать так, как надо? Не факт – потому что технология изготовления должна придать сырью, из которого деталь производится, такие свойства, которые обеспечат ее надежность в реальных условиях эксплуатации
          a.card__about_more(href="") 
            span Больше информации о производителе
            i.fa.fa-long-arrow-right
        .card__about_block
          span.card__about_title Описание и характеристики
          table.card__about_table
            tr
              td Исполнение фильтра
              td Фильтр-патрон
            tr
              td Высота
              td 50 мм
            tr
              td Ширина
              td 194 мм
            tr
              td Длина
              td 200 мм
          a.card__about_more(href="") 
            span все характеристики
            i.fa.fa-long-arrow-right

    .cab__sale
      .cab__sale_top
        span Акционные предложения категории «Охлаждение и отопление»
        a.cab__sale_link(href="") Смотреть все акции
      .cab__sale_flex
        .cab__sale_item
          img(src="img/sale1.jpg", alt="")
        .cab__sale_item
          img(src="img/sale2.png", alt="")

.card__login
  i.fa.fa-info-circle
  span.card__login_text Для входа и оформления заказа от имени клиента укажите телефонный номер клиента
  input.card__login_input(type="tel" placeholder="номер телефона")
  button.card__login_btn Войти
.card__login
  span.card__login_text Клиент
  span.card__login_text Константиновский Николай
  button.card__login_btn Выйти

.card__add-cart
  span.card__add-cart_close
    i.fa.fa-times
  span.card__add-cart_title Товар добавлен в корзину
  .card__add-cart_content
    .cart__list_captions
      span.cart__list_captions--tovar Товар
      span.cart__list_captions--price Цена
      span.cart__list_captions--count Кол-во
      span.cart__list_captions--sum Сумма
    .cart__item
      .cart__item_rem-mes
        span Товар Масляный фильтр  NIPPARTS - J1310500 удален из списка товаров
        span.cart__item_rem-mes_reset Отменить удаление 
          span (5...)
      .cart__item_container
        span.cart__item_delete
          span.cart__item_delete--tip Удалить из списка
          i.fa.fa-times
        img.cart__item_img(src="img/cart-item.jpg", alt="")
        .cart__item_text
          span.cart__item_name Воздушный фильтр для Honda CR-V Meyle 31-12 321 0018
          span.cart__status.cart__status_in В наличии
        span.cart__item_price
          span 66
          | грн
        .cart__item_count
          .cart__item_count-block
            span.minus -
            span.value 4
            span.plus +
        span.cart__item_sum
          span 264
          | грн
    .cart__list_all Всего к оплате
      b#resPrice 384.00 
      span грн
  .cart__list_btns
    span.cart__list_prev 
      i.fa.fa-long-arrow-left 
      | Вернуться к покупкам 
    span.cart__list_next Начать оформление заказа
      i.fa.fa-long-arrow-right


.cab__analog
  i.fa.fa-question-circle-o
  span.cab__analog_title Нужна дополнительная консультация специалиста?
  span.cab__analog_subtitle Телефон отдела продаж
  a.cab__analog_phone  +38 (044) 361-34-14