.category
  .check-auto
    .check-auto__left
      span.check-auto__left_span Выбранный автомобиль
      a.check-auto__change(href="") Выбрать другой
        i.fa.fa-angle-double-down
    .check-auto__content
      img.check-auto__img(src="img/auto-model/vw/sirocco.png", alt="")
      .check-auto__content_text
        span.check-auto__name Volkswagen
        .check-auto__tth
          span Sirocco
          span 2006
          span Внедорожник
          span 1.9 дизель 
          span 1.9 (62 кВт / 84л.с.)

  .category__block
    .cab__breadcrumbs
      a.cab__breadcrumbs_link.cab__breadcrumbs_link--prev(href="") 
        i.fa.fa-long-arrow-left
        | Назад
      a.cab__breadcrumbs_link(href="")
        i.fa.fa-home
        span Главная
      a.cab__breadcrumbs_link(href="")
        span Каталог запчастей
    .category__title
      span.category__title_span Барабанные механизмы 
      span.category__title_count Всего: 125 ед
    .category__flex
      .category__filter
        .category__filter_top Фильтры
        .category__filter_block
          span.category__filter_title Дополнительные категории
            i.fa.fa-caret-down
          .category__filter_drop
            a.category__filter_link(href="") 
              i.fa.fa-caret-right
              span Комплектующие/составляющие
            a.category__filter_link(href="") 
              i.fa.fa-caret-right
              span Стояночный тормоз
            a.category__filter_link(href="") 
              i.fa.fa-caret-right
              span Тормозная колодка/накладка

        .category__filter_block
          span.category__filter_title Производитель
            i.fa.fa-caret-down
          .category__filter_drop
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text Ashika
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text Blue Print
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text Bosch
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text Champion
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text Fram
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text Herth+Buss

        .category__filter_block
          span.category__filter_title Цена
            i.fa.fa-caret-down
          .category__filter_drop
            .category__filter_flex
              label.category__filter_flex-label
                span от
                input(type="text")
              span -
              label.category__filter_flex-label
                span до
                input(type="text")

        .category__filter_block
          span.category__filter_title Вязкость по SAE
            i.fa.fa-caret-down
          .category__filter_drop
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text 0W-20 (8)
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text 0W-30 (20)
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text 0W-40 (12)
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text 5W-20 (5)
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text 5W-30 (87)
            label.category__filter_label
              input(type="checkbox")
              span.category__filter_label_custom
                i.fa.fa-square-o
                i.fa.fa-check-square-o
              span.category__filter_label_text 5W-40 (47) 

      .category__content
        .category__sort
          .category__sort_select
            span Сортировать:
            select
              option(value="") От дешевых к дорогим
              option(value="") От дорогих к дешевым
          .category__sort_btns
            i.fa.fa-th.category__sort_btns-list.category__sort_btns--active
            i.fa.fa-list.category__sort_btns-line
        .category__list
          .item--container
            .item
              .item__img
                img(src="img/list-item.png", alt="")
                .item__sale -20%
                .item__img-hover
                  img(src="img/list-item.png", alt="")
                
              .item__title Воздушный фильтр для Honda CR-V Meyle 31-12 321 0018
              .item__favourite 
                i.fa.fa-star-o
                i.fa.fa-star
              .item__price
                span.item__price_value
                  span 1258.00
                  | грн
                .item__price_status.item__price_status--day
                  i
                  span отправим в течении дня
              .item__btns
                a.item__btn_more(href="") Подробнее о товаре 
                  i.fa.fa-long-arrow-right
                span.item__btn_cart.js-tocart
                  i.fa.fa-cart-plus
                  span в корзину
          .item--container
            .item
              .item__img
                img(src="img/list-item.png", alt="")
                .item__sale -20%
                
              .item__title Воздушный фильтр для Honda CR-V Meyle 31-12 321 0018
              .item__favourite 
                i.fa.fa-star-o
                i.fa.fa-star
              .item__price
                span.item__price_value
                  span 1258.00
                  | грн
                .item__price_status.item__price_status--in
                  i
                  span В наличии
              .item__btns
                a.item__btn_more(href="") Подробнее о товаре 
                  i.fa.fa-long-arrow-right
                span.item__btn_cart.js-tocart
                  i.fa.fa-cart-plus
                  span в корзину
    .category__paged
      span.category__paged_bold 
        b Показано: 1-15 
        | / 125
      a.category__paged_prev(href="")
        i.fa.fa-chevron-left
      span.category__paged_div
      a.category__paged_next(href="")
        i.fa.fa-chevron-right

.cab__sale
  .cab__sale_top
    span Акционные предложения категории «Охлаждение и отопление»
    a.cab__sale_link(href="") Смотреть все акции
  .cab__sale_flex
    .cab__sale_item
      img(src="img/sale1.jpg", alt="")
    .cab__sale_item
      img(src="img/sale2.png", alt="")

.cab__analog
  i.fa.fa-question-circle-o
  span.cab__analog_title Нужна дополнительная консультация специалиста?
  span.cab__analog_subtitle Телефон отдела продаж
  a.cab__analog_phone  +38 (044) 361-34-14


.popup#js-add-cart
  .popup-bg
  .popup-content
    .card__add-cart
      span.card__add-cart_close.popup-close
        i.fa.fa-times
      span.card__add-cart_title Товар добавлен в корзину
      .card__add-cart_content
        .cart__list_captions
          span.cart__list_captions--tovar Товар
          span.cart__list_captions--price Цена
          span.cart__list_captions--count Кол-во
          span.cart__list_captions--sum Сумма
        .cart__item
          .cart__item_rem-mes
            span Товар Масляный фильтр  NIPPARTS - J1310500 удален из списка товаров
            span.cart__item_rem-mes_reset Отменить удаление 
              span (5...)
          .cart__item_container
            span.cart__item_delete
              span.cart__item_delete--tip Удалить из списка
              i.fa.fa-times
            img.cart__item_img(src="img/cart-item.jpg", alt="")
            .cart__item_text
              span.cart__item_name Воздушный фильтр для Honda CR-V Meyle 31-12 321 0018
              span.cart__status.cart__status_in В наличии
            span.cart__item_price
              span 66
              | грн
            .cart__item_count
              .cart__item_count-block
                span.minus -
                span.value 4
                span.plus +
            span.cart__item_sum
              span 264
              | грн
        .cart__list_all Всего к оплате
          b#resPrice 384.00 
          span грн
      .cart__list_btns
        span.cart__list_prev 
          i.fa.fa-long-arrow-left 
          | Вернуться к покупкам 
        span.cart__list_next Начать оформление заказа
          i.fa.fa-long-arrow-right
