.filter
  .filter--top
    .cab__breadcrumbs
      a.cab__breadcrumbs_link.cab__breadcrumbs_link--prev(href="") 
        i.fa.fa-long-arrow-left
        | Назад
      a.cab__breadcrumbs_link(href="")
        i.fa.fa-home
        span Главная
    .category__title
      span.category__title_span Запчасти всех категорий 
    
    .check-auto
      .check-auto__left
        span.check-auto__left_span Выбранный автомобиль
        a.check-auto__change(href="") Выбрать другой
          i.fa.fa-angle-double-down
      .check-auto__content
        img.check-auto__img(src="img/auto-model/vw/sirocco.png", alt="")
        .check-auto__content_text
          span.check-auto__name Volkswagen
          .check-auto__tth
            span Sirocco
            span 2006
            span Внедорожник
            span 1.9 дизель 
            span 1.9 (62 кВт / 84л.с.)
  .filter-content
    .filter--count Всего найдено 
      span 15  600 
      | запчастей в 
      span 9 
      | категориях
    .filter__block
      img.filter__block_img(src="img/icons/to-big.png", alt="")
      .filter__block_title
        img(src="img/icons/to.png", alt="")
        span Запчасти для ТО
      .filter__block_content
        .filter__block_section
          a.filter__block_text(href="")
            | Масляный фильтр
            span (1235)
          a.filter__block_text(href="")
            | Воздушный фильтр
            span (1235)
          a.filter__block_text.filter__block_text--un(href="")
            | Масляный фильтр
            span (1235)
          a.filter__block_text(href="")
            | Фильтр салона
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Тормозные колодки
            span (1235)
          a.filter__block_text(href="")
            | Тормозные диски
            span (1235)
          a.filter__block_text(href="")
            | Свечи зажигания
            span (1235)
          a.filter__block_text(href="")
            | Свечи накаливания
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Ремень ГРМ
            span (1235)
          a.filter__block_text(href="")
            | Ролик натяжителя ремня ГРМ
            span (1235)
          a.filter__block_text(href="")
            | Комплект ГРМ
            span (1235)
          a.filter__block_text(href="")
            | Щетки стеклоочистителя
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Моторное масло
            span (1235)
          a.filter__block_text(href="")
            | Антифриз
            span (1235)
    .filter__block
      img.filter__block_img(src="img/icons/tor-big.png", alt="")
      .filter__block_title
        img(src="img/icons/tor.png", alt="")
        span Тормозная ситема
      .filter__block_content
        .filter__block_section
          span.filter__block_caption Тормозные элементы
          a.filter__block_text(href="")
            | Тормозные колодки
            span (1235)
          a.filter__block_text(href="")
            | Тормозные диски
            span (1235)
          a.filter__block_text(href="")
            | Трос ручного тормоза
            span (1235)
          a.filter__block_text(href="")
            | Тормозной барабан
            span (1235)
        .filter__block_section
          span.filter__block_caption Гидравлика тормозной системы
          a.filter__block_text(href="")
            | Главный тормозной цилиндр 
            span (1235)
          a.filter__block_text.filter__block_text--un(href="")
            | Тормозной шланг 
            span (1235)
          a.filter__block_text.filter__block_text--un(href="")
            | Рабочий тормозной цилиндр
            span (1235)
          a.filter__block_text.filter__block_text--un(href="")
            | Тормозной суппорт
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Ремкомплект главного тормозного цилиндра
            span (1235)
          a.filter__block_text(href="")
            | Усилитель тормозной системы
            span (1235)
          a.filter__block_text(href="")
            | Распределитель тормозных усилий
            span (1235)
          a.filter__block_text(href="")
            | Тормозная трубка
            span (1235)
        .filter__block_section
          span.filter__block_caption Электронные компоненты
          a.filter__block_text(href="")
            | Датчик износа тормозных колодок 
            span (1235)
          a.filter__block_text(href="")
            | Датчик АБС 
            span (1235)
    .filter__block
      img.filter__block_img(src="img/icons/pod-big.png", alt="")
      .filter__block_title
        img(src="img/icons/pod.png", alt="")
        span Подвеска и рулевое
      .filter__block_content
        .filter__block_section
          span.filter__block_caption Подвеска
          a.filter__block_text(href="")
            | Стойка стабилизатора
            span (1235)
          a.filter__block_text(href="")
            | Втулка стабилизатора
            span (1235)
          a.filter__block_text(href="")
            | Шаровая опора
            span (1235)
          a.filter__block_text(href="")
            | Подшипник ступицы
            span (1235)
          a.filter__block_text(href="")
            | Подшипник ступицы
            span (1235)
          a.filter__block_text(href="")
            | Амортизаторы
            span (1235)
          a.filter__block_text(href="")
            | Пылезащитный комплект амортизаторов
            span (1235)
          a.filter__block_text(href="")
            | Пыльник амортизатора
            span (1235)
          a.filter__block_text(href="")
            | Отбойник амортизатора
            span (1235)
          a.filter__block_text(href="")
            | Пружина подвески
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Сайлентблок рычага
            span (1235)
          a.filter__block_text(href="")
            | Тарелка пружины
            span (1235)
          a.filter__block_text(href="")
            | Сайлентблок задней балки
            span (1235)
          a.filter__block_text(href="")
            | Рычаг подвески
            span (1235)
          a.filter__block_text(href="")
            | Комплект рычагов
            span (1235)
          a.filter__block_text(href="")
            | Опора амортизатора
            span (1235)
          a.filter__block_text(href="")
            | Подшипник амортизатора
            span (1235)
          a.filter__block_text(href="")
            | Тарелка пружины
            span (1235)
          a.filter__block_text(href="")
            | Скоба стабилизатора
            span (1235)
          a.filter__block_text(href="")
            | Ремкомплект шаровой опоры
            span (1235)
          a.filter__block_text(href="")
            | Поворотный кулак
            span (1235)
        .filter__block_section
          span.filter__block_caption Рулевое управление
          a.filter__block_text(href="")
            | Рулевая тяга
            span (1235)
          a.filter__block_text(href="")
            | Наконечник рулевой тяги
            span (1235)
          a.filter__block_text(href="")
            | Пыльник рулевой рейки
            span (1235)
          a.filter__block_text(href="")
            | Гидроусилитель руля
            span (1235)
          a.filter__block_text(href="")
            | Рулевая рейка
            span (1235)
          a.filter__block_text(href="")
            | Бачок гидроусилителя
            span (1235)
          a.filter__block_text(href="")
            | Шкив насоса гидроусилителя
            span (1235)
          a.filter__block_text(href="")
            | Шланг высокого давления
            span (1235)
          a.filter__block_text(href="")
            | Втулка маятника
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Маятник
            span (1235)
          a.filter__block_text(href="")
            | Ремкомплект рулевой рейки
            span (1235)
          a.filter__block_text(href="")
            | Сальник рулевой рейки
            span (1235)
          a.filter__block_text(href="")
            | Рулевая колонка
            span (1235)
          a.filter__block_text(href="")
            | Рулевой вал
            span (1235)
          a.filter__block_text(href="")
            | Рулевая трапеция
            span (1235)
          a.filter__block_text(href="")
            | Втулка рулевой рейки
            span (1235)
          a.filter__block_text(href="")
            | Фильтр гидроусилителя
            span (1235)
    .filter__block
      img.filter__block_img(src="img/icons/dvig-big.png", alt="")
      .filter__block_title
        img(src="img/icons/dvig.png", alt="")
        span Двигатель и система выхлопа
      .filter__block_content
        .filter__block_section
          span.filter__block_caption Прокладки и сальники
          a.filter__block_text(href="")
            | Прокладка клапанной крышки 
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Пружина клапана
            span (1235)
        .filter__block_section
          span.filter__block_caption Система выпуска
          a.filter__block_text(href="")
            | Глушитель выхлопных газов
            span (1235)
        .filter__block_section
          span.filter__block_caption Топливная система и управление двигателем
          a.filter__block_text(href="")
            | Топливный фильтр
            span (1235)

    .filter__block
      img.filter__block_img(src="img/icons/sc-big.png", alt="")
      .filter__block_title
        img(src="img/icons/sc.png", alt="")
        span Сцепление и трансмиссия 
      .filter__block_content
        .filter__block_section
          span.filter__block_caption Сцепление
          a.filter__block_text(href="")
            | Комплект сцеплени
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Выжимной подшипник сцепления  
            span (1235)
        .filter__block_section
          span.filter__block_caption Запчасти трансмиссии
          a.filter__block_text(href="")
            | ШРУС
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Сальник полуоси
            span (1235)

    .filter__block
      img.filter__block_img(src="img/icons/oh-big.png", alt="")
      .filter__block_title
        img(src="img/icons/oh.png", alt="")
        span Охлаждение и отопление 
      .filter__block_content
        .filter__block_section
          span.filter__block_caption Охлаждение
          a.filter__block_text(href="")
            | Водяной насос
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Корпус термостата   
            span (1235)
        .filter__block_section
          span.filter__block_caption Система кондиционирования
          a.filter__block_text(href="")
            | Радиатор кондиционера
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Вентилятор радиатора кондиционера
            span (1235)

    .filter__block
      img.filter__block_img(src="img/icons/el-big.png", alt="")
      .filter__block_title
        img(src="img/icons/el.png", alt="")
        span Электрика
      .filter__block_content
        .filter__block_section
          span.filter__block_caption Электрика
          a.filter__block_text(href="")
            | Аккумуляторная батарея
            span (1235)
        .filter__block_section
          span.filter__block_caption Зажигание
          a.filter__block_text(href="")
            | Свечи зажигания  
            span (1235)
        .filter__block_section
          span.filter__block_caption Датчики
          a.filter__block_text(href="")
            | Температуры двигателя
            span (1235)
        .filter__block_section
          span.filter__block_caption Освещение
          a.filter__block_text(href="")
            | Лампа ближнего света
            span (1235)

    .filter__block
      img.filter__block_img(src="img/icons/kuz-big.png", alt="")
      .filter__block_title
        img(src="img/icons/kuz.png", alt="")
        span Кузовные запчасти
      .filter__block_content
        .filter__block_section
          span.filter__block_caption Наружные части
          a.filter__block_text(href="")
            | Зеркало заднего вида
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Панель передняя  
            span (1235)
        .filter__block_section
          span.filter__block_caption Внутренние элементы
          a.filter__block_text(href="")
            | Амортизатор капота
            span (1235)
        .filter__block_section
          span.filter__block_caption Система очистки окон
          a.filter__block_text(href="")
            | Щетки стеклоочистителя
            span (1235)

    .filter__block
      img.filter__block_img(src="img/icons/mas-big.png", alt="")
      .filter__block_title
        img(src="img/icons/mas.png", alt="")
        span Масло и тех.жидкости
      .filter__block_content
        .filter__block_section
          a.filter__block_text(href="")
            | Моторное масло
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
            | Антифриз  
            span (1235)
        .filter__block_section
          a.filter__block_text(href="")
        .filter__block_section
          a.filter__block_text(href="")

  .news__consult
    i.fa.fa-question-circle-o
    span.news__consult_need Нужна дополнительная консультация специалиста?
    span.news__consult_span Телефон отдела продаж
    a.news__consult_phone(href="tel: +38 (044) 361-34-14")  +38 (044) 361-34-14