footer.footer
  .footer__top
    .footer__phones
      .footer__phones_flex
        a.footer__phone.footer__phone_icon(href="tel:(044) 361-34-14") (044) 361-34-14
        a.footer__phone(href="tel:(067) 361-34-14") (067) 361-34-14
        a.footer__phone(href="tel:(050) 361-34-14") (050) 361-34-14 
        a.footer__phone(href="tel:(063) 361-34-14") (063) 361-34-14
      span.footer__phones_getcall Заказать обратный звонок
    .footer__address
      .footer__address_item
        b.footer__address_title График работы 
        span В будние дни с 9 до 18:30
          br
          | Суббота с 10:00 до 15:00
          br
          | Воскресенье  Выходной
      .footer__address_item.footer__address_item--right
        b.footer__address_title Адрес магазина
        span Украина, г. Киев, ул. Луговая 9
        b.footer__phones_getcall Смотреть на карте
  .footer__bottom
    nav.footer__menu
      a.footer__menu_item(href="") О компании
      a.footer__menu_item(href="") Гарантия
      a.footer__menu_item(href="") Доставка и оплата
      a.footer__menu_item(href="") Как купить
      a.footer__menu_item(href="") Контакты
    span.footer__copyright Copyright © 2012 Optimal Auto
