section.tabs
  h1.tabs__title Запчасти для  автомобилей всех марок 
  .tabs__block
    .tabs__top
      span.tabs__top_span Укажите  
        br
        | автомобиль 
      .tabs__top_content
        .tabs__top_img
          img(src="img/auto-mark/vw.png", alt="")
        .tabs__top_text
          span.tabs__top--mark Volkswagen
          .tabs__top_text-content
            span.tabs__top--model Модель
            span.tabs__top--year 2006
            span.tabs__top--body
            span.tabs__top--dvig
            span.tabs__top--modif
      span.tabs__top_span2 Для удобства и скoрости поиска укажите автомобиль, для которого нужны запчасти
    .tabs__container
      .tabs__items
        .tabs__item.tabs__item--active(data-area=".tabs__area-mark")
          span.tabs__item_number 1
          span.tabs__item_title Марка
        .tabs__item(data-area=".tabs__area-year")
          span.tabs__item_number 2
          span.tabs__item_title Год выпуска
        .tabs__item(data-area=".tabs__area-model1")
          span.tabs__item_number 3
          span.tabs__item_title Модель
        .tabs__item(data-area=".tabs__area-body")
          span.tabs__item_number 4
          span.tabs__item_title Кузов
        .tabs__item(data-area=".tabs__area-dvig1")
          span.tabs__item_number 5
          span.tabs__item_title Двигатель
        .tabs__item(data-area=".tabs__area-modif")
          span.tabs__item_number 6
          span.tabs__item_title Модификация
      .tabs__area
        .tabs__area-mark.js-tabs__area
          .tabs__area_container.tabs__area-mark--first
            .tabs__area_item.tabs__area-mark_item.js-tabs-item.active
              .tabs__area-mark_item_img
                img(src="img/auto-mark/audi.png", width="69", alt="")
              span.tabs__area-mark_item_name Ауди
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/bmw.png", width="38", alt="")
              span.tabs__area-mark_item_name BMW
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/citroen.png", width="36", alt="")
              span.tabs__area-mark_item_name CITROEN
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/dacia.png", width="27", alt="")
              span.tabs__area-mark_item_name DACIA
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/fiat.png", width="37", alt="")
              span.tabs__area-mark_item_name FIAT
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/ford.png", width="63", alt="")
              span.tabs__area-mark_item_name Ford
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/honda.png", width="60", alt="")
              span.tabs__area-mark_item_name Honda
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/huindai.png", width="48", alt="")
              span.tabs__area-mark_item_name Hyindai
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/kia.png", width="52", alt="")
              span.tabs__area-mark_item_name KIA
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/mazda.png", width="34", alt="")
              span.tabs__area-mark_item_name Mazda
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/mercedes.png", width="42", alt="")
              span.tabs__area-mark_item_name Mercedes
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/mitsubishi.png", width="34", alt="")
              span.tabs__area-mark_item_name MITSIBISHI
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/nissan.png", width="40", alt="")
              span.tabs__area-mark_item_name Nissan
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/opel.png", width="47", alt="")
              span.tabs__area-mark_item_name Opel
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/peugeut.png", width="35", alt="")
              span.tabs__area-mark_item_name Peugeot
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/renault.png", width="35", alt="")
              span.tabs__area-mark_item_name Renault
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/skoda.png", width="36", alt="")
              span.tabs__area-mark_item_name Skoda
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/subaru.png", width="43", alt="")
              span.tabs__area-mark_item_name Subaru
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/toyota.png", width="40", alt="")
              span.tabs__area-mark_item_name Toyota
            .tabs__area_item.tabs__area-mark_item.js-tabs-item
              .tabs__area-mark_item_img
                img(src="img/auto-mark/vw.png", width="32", alt="")
              span.tabs__area-mark_item_name VW
          .tabs__area_container.tabs__area-mark--min
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/acura.png", width="32", alt="")
              span.tabs__area_item-min_hint Acura
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/alfaromeo.png", width="20", alt="")
              span.tabs__area_item-min_hint alfa romeo
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/cadillac.png", width="44", alt="")
              span.tabs__area_item-min_hint cadillac
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/chevrolet.jpg", width="42", alt="")
              span.tabs__area_item-min_hint chevrolet
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/chrysler.png", width="45", alt="")
              span.tabs__area_item-min_hint chrysler
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/daewoo.png", width="55", alt="")
              span.tabs__area_item-min_hint daewoo
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/daihatsu.png", width="37", alt="")
              span.tabs__area_item-min_hint daihatsu
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/dodge.png", height="25", alt="")
              span.tabs__area_item-min_hint dodge
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/ferrari.png", width="23", alt="")
              span.tabs__area_item-min_hint ferrari
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/lamborghini.png", width="28", alt="")
              span.tabs__area_item-min_hint lamborghini
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/hummer.png", width="62", alt="")
              span.tabs__area_item-min_hint hummer
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/isuzu.png", width="50", alt="")
              span.tabs__area_item-min_hint isuzu
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/gaz.png", width="25", alt="")
              span.tabs__area_item-min_hint gaz
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/geely.png", width="28", alt="")
              span.tabs__area_item-min_hint geely
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/iveco.png", width="36", alt="")
              span.tabs__area_item-min_hint iveco
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/autovaz.png", width="36", alt="")
              span.tabs__area_item-min_hint avtovaz
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/rover.png", width="23", alt="")
              span.tabs__area_item-min_hint rover
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/jeep.png", width="32", alt="")
              span.tabs__area_item-min_hint jeep
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/porshe.png", width="30", alt="")
              span.tabs__area_item-min_hint porshe
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/lancia.png", width="24", alt="")
              span.tabs__area_item-min_hint lancia
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/landrover.png", width="34", alt="")
              span.tabs__area_item-min_hint land rover
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/lexus.png", width="50", alt="")
              span.tabs__area_item-min_hint lexus
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/lincoln.png", width="19", alt="")
              span.tabs__area_item-min_hint lincoln
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/niva-chevrolet.png", width="65", alt="")
              span.tabs__area_item-min_hint niva chevrolet
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/azlk.png", width="19", alt="")
              span.tabs__area_item-min_hint azlk
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/pontiac.png", width="18", alt="")
              span.tabs__area_item-min_hint pontiac
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/saab.png", width="48", alt="")
              span.tabs__area_item-min_hint saab
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/volvo.png", width="30", alt="")
              span.tabs__area_item-min_hint volvo
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/scania.png", width="34", alt="")
              span.tabs__area_item-min_hint scania
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/seat.png", width="35", alt="")
              span.tabs__area_item-min_hint seat
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/ssangyuon.png", width="35", alt="")
              span.tabs__area_item-min_hint ssangyong
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/suzuki.png", width="25", alt="")
              span.tabs__area_item-min_hint suzuki
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/zaz.png", width="30", alt="")
              span.tabs__area_item-min_hint zaz
            .tabs__area_item-min.js-tabs-item
              img(src="img/auto-mark/uaz.png", width="41", alt="")
              span.tabs__area_item-min_hint uaz
        
        .tabs__area-year.js-tabs__area
          .tabs__area_container
            .tabs__area-year_item.js-tabs-item 1980
            .tabs__area-year_item.js-tabs-item 1981
            .tabs__area-year_item.js-tabs-item 1982
            .tabs__area-year_item.js-tabs-item 1983
            .tabs__area-year_item.js-tabs-item 1984
            .tabs__area-year_item.js-tabs-item 1985
            .tabs__area-year_item.js-tabs-item 1986
            .tabs__area-year_item.js-tabs-item 1987
            .tabs__area-year_item.js-tabs-item 1988
            .tabs__area-year_item.js-tabs-item 1989
            .tabs__area-year_item.js-tabs-item 1990
            .tabs__area-year_item.js-tabs-item 1991
            .tabs__area-year_item.js-tabs-item 1992
            .tabs__area-year_item.js-tabs-item 1993
            .tabs__area-year_item.js-tabs-item 1994
            .tabs__area-year_item.js-tabs-item 1995
            .tabs__area-year_item.js-tabs-item 1996
            .tabs__area-year_item.js-tabs-item 1997
            .tabs__area-year_item.js-tabs-item 1998
            .tabs__area-year_item.js-tabs-item 1999
            .tabs__area-year_item.js-tabs-item 2000
            .tabs__area-year_item.js-tabs-item 2001
            .tabs__area-year_item.js-tabs-item 2002
            .tabs__area-year_item.js-tabs-item 2003
            .tabs__area-year_item.js-tabs-item 2004
            .tabs__area-year_item.js-tabs-item 2005
            .tabs__area-year_item.js-tabs-item 2006
            .tabs__area-year_item.js-tabs-item 2007
            .tabs__area-year_item.js-tabs-item 2008
            .tabs__area-year_item.js-tabs-item 2009
            .tabs__area-year_item.js-tabs-item.active 2010
            .tabs__area-year_item.js-tabs-item 2011
            .tabs__area-year_item.js-tabs-item 2012
            .tabs__area-year_item.js-tabs-item 2013
            .tabs__area-year_item.js-tabs-item 2014
            .tabs__area-year_item.js-tabs-item 2015
            .tabs__area-year_item.js-tabs-item 2016
            .tabs__area-year_item.js-tabs-item 2017
            .tabs__area-year_item.js-tabs-item 2018
            .tabs__area-year_item.js-tabs-item
        
        .tabs__area-model.tabs__area-model1.js-tabs__area
          .tabs__area_container
            .tabs__area-model_item.js-tabs-item.active
              img(src="img/auto-model/vw/sirocco.png", alt="")     
              span Sirocco
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/tiguan.png", alt="")     
              span Tiguan
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/passat.png", alt="")     
              span Passat CC
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/toureg.png", alt="")     
              span Toureg
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/jetta.png", alt="")     
              span Jetta
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/polo.png", alt="")     
              span Polo
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/Sirocco2.png", alt="")     
              span Sirocco
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/caddy.png", alt="")     
              span Caddy
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/multivan.png", alt="")     
              span Multivan
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/turan.png", alt="")     
              span Turan
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-model/vw/transporter.png", alt="")     
              span Transporter
        
        .tabs__area-model.js-tabs__area.tabs__area-body
          .tabs__area_container
            .tabs__area-model_item.js-tabs-item.active
              img(src="img/auto-body/sedan.png", alt="")     
              span Седан
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-body/universal.png", alt="")     
              span Универсал
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-body/hatchback.png", alt="")     
              span Хетчбек
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-body/cabriolet.png", alt="")     
              span Кабриолет
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-body/coupe.png", alt="")     
              span Купэ
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-body/overroad.png", alt="")     
              span Внедорожник
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-body/minivan.png", alt="")     
              span Минивен
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-body/furgon.png", alt="")     
              span Фургон
            .tabs__area-model_item.js-tabs-item
              img(src="img/auto-body/pickup.png", alt="")     
              span Пикап

        .tabs__area-model.js-tabs__area.tabs__area-dvig.tabs__area-dvig1
          .tabs__area_container
            .tabs__area-model_item.js-tabs-item.active
              span 1.9 дизель
            .tabs__area-model_item.js-tabs-item
              span 2.0 дизель
            .tabs__area-model_item.js-tabs-item
              span 2.0 бензин
            .tabs__area-model_item.js-tabs-item
              span 2.5 дизель
            .tabs__area-model_item.js-tabs-item
              span 1.9 дизель
            .tabs__area-model_item.js-tabs-item
              span 3.2 бензин

        .tabs__area-model.js-tabs__area.tabs__area-dvig.tabs__area-modif
          .tabs__area_container
            .tabs__area-model_item.js-tabs-item.active
              span 1.9 (62 кВт/ 84л.с.)
            .tabs__area-model_item.js-tabs-item
              span 1.9 (62 кВт / 84л.с.)
            .tabs__area-model_item.js-tabs-item
              span 1.9 (62 кВт / 84л.с.)
            .tabs__area-model_item.js-tabs-item
              span 2.5 (62 кВт / 84л.с.) 
            .tabs__area-model_item.js-tabs-item
              span 1.9 (62 кВт / 84л.с.)
  span.tabs__bottom_text Проконсультироваться у специалиста :  +38 (044) 361-34-14
    i.fa.fa-info-circle
section.popular
  .popular__flex
    .popular__category
      span.popular__title Популярные категории запчастей
      .popular__list
        .popular__list_block
          .popular__list_item
            span.popular__list_item-title Аккумулятор
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Капот 
            span.popular__list_item-count 245
          .popular__list_item
            span.popular__list_item-title Ремень ГРМ
            span.popular__list_item-count 7845
          .popular__list_item
            span.popular__list_item-title Амортизаторы
            span.popular__list_item-count 45
          .popular__list_item
            span.popular__list_item-title Катализатор 
            span.popular__list_item-count 6987
          .popular__list_item
            span.popular__list_item-title Рулевая рейка
            span.popular__list_item-count 897
          .popular__list_item
            span.popular__list_item-title Антифриз
            span.popular__list_item-count 96354
          .popular__list_item
            span.popular__list_item-title Коленвал
            span.popular__list_item-count 8754
        .popular__list_block
          .popular__list_item
            span.popular__list_item-title Свечи зажигания
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Бачок омывателя 
            span.popular__list_item-count 2563
          .popular__list_item
            span.popular__list_item-title Компрессор кондиционера
            span.popular__list_item-count 1455
          .popular__list_item
            span.popular__list_item-title Термостат
            span.popular__list_item-count 8963
          .popular__list_item
            span.popular__list_item-title Водяной насос 
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Лямбда-зонд
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Топливный фильтр
            span.popular__list_item-count 951
          .popular__list_item
            span.popular__list_item-title Главный тормозной цилиндр
            span.popular__list_item-count 658
    .popular__category.popular__model
      span.popular__title Популярные модели авто
      .popular__list
        .popular__list_block
          .popular__list_item
            span.popular__list_item-title Запчасти на Chevrolet
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Запчасти на Mercedes 
            span.popular__list_item-count 245
          .popular__list_item
            span.popular__list_item-title Запчасти на Toyota
            span.popular__list_item-count 7845
          .popular__list_item
            span.popular__list_item-title Запчасти на Daewoo
            span.popular__list_item-count 45
          .popular__list_item
            span.popular__list_item-title Запчасти на Mitsubishi 
            span.popular__list_item-count 6987
          .popular__list_item
            span.popular__list_item-title Запчасти на Volkswagen
            span.popular__list_item-count 897
          .popular__list_item
            span.popular__list_item-title Запчасти на Audi
            span.popular__list_item-count 96354
          .popular__list_item
            span.popular__list_item-title Запчасти на Ford
            span.popular__list_item-count 8754
        .popular__list_block
          .popular__list_item
            span.popular__list_item-title Запчасти на Audi
            span.popular__list_item-count 96354
          .popular__list_item
            span.popular__list_item-title Запчасти на Ford
            span.popular__list_item-count 8754
          .popular__list_item
            span.popular__list_item-title Запчасти на Opel
            span.popular__list_item-count 1455
          .popular__list_item
            span.popular__list_item-title Запчасти на BMW
            span.popular__list_item-count 8963
          .popular__list_item
            span.popular__list_item-title Запчасти на Hyundai 
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Запчасти на Renault
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Запчасти на Chevrolet
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Запчасти на Mercedes 
            span.popular__list_item-count 245
    .popular__btns
      a.popular__btns-search(href="") Поиск запчастей по ВИН-коду
      a.popular__btns-all(href="") Все запчасти
        i.fa.fa-long-arrow-right

section.advantages
  .advantages__item
    .advantages__item_icon.advantages__item_icon--multi
      i
    span.advantages__item_text Мультибрендовый интернет магазин автозапчастей 
  .advantages__item
    .advantages__item_icon.advantages__item_icon--origin
      i
    span.advantages__item_text Мы продаем только оригинальные и качественные запчасти
  .advantages__item
    .advantages__item_icon.advantages__item_icon--all
      i
    span.advantages__item_text У нас фраза «все в наличии всегда» не просто рекламный слоган, а неоспоримый факт
  .advantages__item
    .advantages__item_icon.advantages__item_icon--garant
      i
    span.advantages__item_text Мы гарантируем качество всех наших запчастей

section.news
  .news__block
    .news__block_left
      img.news__img(src="img/news-img.jpg", alt="")
      p.news__text На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. Часть агрегатов и узлов подлежит плановому ремонту после определенного пробега, так как производитель при изготовления заложил в детали определённый ресурс. 
      p.news__text В любом случае вы не прогадаете, если не пойдете на авторынок или в фирменный сервис, а обратитесь в интернет магазин автозапчастей.
      p.news__text Некоторые элементы конструкции автомобиля приходится менять из-за износа, возникающего в процессе эксплуатации на наших дорогах. Также нередки случаи, когда необходимо купить автозапчасти для иномарок после дорожно-транспортных происшествий.
    .news__block_right
      h2.news__title Любые запчасти для вашего автомобиля
      a.news__label(href="")
        i.fa.fa-tags
        | Полезная инфомация
      p.news__text На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. Часть агрегатов и узлов подлежит плановому ремонту после определенного пробега, так как производитель при изготовления заложил в детали определённый ресурс. 
      span.news__citate Некоторые элементы конструкции автомобиля приходится менять из-за износа, возникающего в процессе эксплуатации на наших дорогах. 
      p.news__text На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. Часть агрегатов и узлов подлежит плановому ремонту после определенного пробега, так как производитель при изготовления заложил в детали определённый ресурс. 
      p.news__text Некоторые элементы конструкции автомобиля приходится менять из-за износа, возникающего в процессе эксплуатации на наших дорогах. Также нередки случаи, когда необходимо купить автозапчасти для иномарок после дорожно-транспортных происшествий.
    

  .news__consult
    i.fa.fa-question-circle-o
    span.news__consult_need Нужна дополнительная консультация специалиста?
    span.news__consult_span Телефон отдела продаж
    a.news__consult_phone(href="tel: +38 (044) 361-34-14")  +38 (044) 361-34-14