section.popular
  .popular__flex
    .popular__category
      span.popular__title Популярные категории запчастей
      .popular__list
        .popular__list_block
          .popular__list_item
            span.popular__list_item-title Аккумулятор
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Капот 
            span.popular__list_item-count 245
          .popular__list_item
            span.popular__list_item-title Ремень ГРМ
            span.popular__list_item-count 7845
          .popular__list_item
            span.popular__list_item-title Амортизаторы
            span.popular__list_item-count 45
          .popular__list_item
            span.popular__list_item-title Катализатор 
            span.popular__list_item-count 6987
          .popular__list_item
            span.popular__list_item-title Рулевая рейка
            span.popular__list_item-count 897
          .popular__list_item
            span.popular__list_item-title Антифриз
            span.popular__list_item-count 96354
          .popular__list_item
            span.popular__list_item-title Коленвал
            span.popular__list_item-count 8754
        .popular__list_block
          .popular__list_item
            span.popular__list_item-title Свечи зажигания
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Бачок омывателя 
            span.popular__list_item-count 2563
          .popular__list_item
            span.popular__list_item-title Компрессор кондиционера
            span.popular__list_item-count 1455
          .popular__list_item
            span.popular__list_item-title Термостат
            span.popular__list_item-count 8963
          .popular__list_item
            span.popular__list_item-title Водяной насос 
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Лямбда-зонд
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Топливный фильтр
            span.popular__list_item-count 951
          .popular__list_item
            span.popular__list_item-title Главный тормозной цилиндр
            span.popular__list_item-count 658
    .popular__category.popular__model
      span.popular__title Популярные модели авто
      .popular__list
        .popular__list_block
          .popular__list_item
            span.popular__list_item-title Запчасти на Chevrolet
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Запчасти на Mercedes 
            span.popular__list_item-count 245
          .popular__list_item
            span.popular__list_item-title Запчасти на Toyota
            span.popular__list_item-count 7845
          .popular__list_item
            span.popular__list_item-title Запчасти на Daewoo
            span.popular__list_item-count 45
          .popular__list_item
            span.popular__list_item-title Запчасти на Mitsubishi 
            span.popular__list_item-count 6987
          .popular__list_item
            span.popular__list_item-title Запчасти на Volkswagen
            span.popular__list_item-count 897
          .popular__list_item
            span.popular__list_item-title Запчасти на Audi
            span.popular__list_item-count 96354
          .popular__list_item
            span.popular__list_item-title Запчасти на Ford
            span.popular__list_item-count 8754
        .popular__list_block
          .popular__list_item
            span.popular__list_item-title Запчасти на Audi
            span.popular__list_item-count 96354
          .popular__list_item
            span.popular__list_item-title Запчасти на Ford
            span.popular__list_item-count 8754
          .popular__list_item
            span.popular__list_item-title Запчасти на Opel
            span.popular__list_item-count 1455
          .popular__list_item
            span.popular__list_item-title Запчасти на BMW
            span.popular__list_item-count 8963
          .popular__list_item
            span.popular__list_item-title Запчасти на Hyundai 
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Запчасти на Renault
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Запчасти на Chevrolet
            span.popular__list_item-count 135
          .popular__list_item
            span.popular__list_item-title Запчасти на Mercedes 
            span.popular__list_item-count 245
    .popular__btns
      a.popular__btns-search(href="") Поиск запчастей по ВИН-коду
      a.popular__btns-all(href="") Все запчасти
        i.fa.fa-long-arrow-right
section.advantages
  .advantages__item
    .advantages__item_icon.advantages__item_icon--multi
      i
    span.advantages__item_text Мультибрендовый интернет магазин автозапчастей 
  .advantages__item
    .advantages__item_icon.advantages__item_icon--origin
      i
    span.advantages__item_text Мы продаем только оригинальные и качественные запчасти
  .advantages__item
    .advantages__item_icon.advantages__item_icon--all
      i
    span.advantages__item_text У нас фраза «все в наличии всегда» не просто рекламный слоган, а неоспоримый факт
  .advantages__item
    .advantages__item_icon.advantages__item_icon--garant
      i
    span.advantages__item_text Мы гарантируем качество всех наших запчастей

section.news
  .news__block
    .news__block_left
      img.news__img(src="img/news-img.jpg", alt="")
      p.news__text На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. Часть агрегатов и узлов подлежит плановому ремонту после определенного пробега, так как производитель при изготовления заложил в детали определённый ресурс. 
      p.news__text В любом случае вы не прогадаете, если не пойдете на авторынок или в фирменный сервис, а обратитесь в интернет магазин автозапчастей.
      p.news__text Некоторые элементы конструкции автомобиля приходится менять из-за износа, возникающего в процессе эксплуатации на наших дорогах. Также нередки случаи, когда необходимо купить автозапчасти для иномарок после дорожно-транспортных происшествий.
    .news__block_right
      h2.news__title Любые запчасти для вашего автомобиля
      a.news__label(href="")
        i.fa.fa-tags
        | Полезная инфомация
      p.news__text На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. Часть агрегатов и узлов подлежит плановому ремонту после определенного пробега, так как производитель при изготовления заложил в детали определённый ресурс. 
      span.news__citate Некоторые элементы конструкции автомобиля приходится менять из-за износа, возникающего в процессе эксплуатации на наших дорогах. 
      p.news__text На каком бы автомобиле вы ни ездили, вам в любом случае периодически приходится сталкиваться с необходимостью проведения ремонта. Часть агрегатов и узлов подлежит плановому ремонту после определенного пробега, так как производитель при изготовления заложил в детали определённый ресурс. 
      p.news__text Некоторые элементы конструкции автомобиля приходится менять из-за износа, возникающего в процессе эксплуатации на наших дорогах. Также нередки случаи, когда необходимо купить автозапчасти для иномарок после дорожно-транспортных происшествий.
    

  .news__consult
    i.fa.fa-question-circle-o
    span.news__consult_need Нужна дополнительная консультация специалиста?
    span.news__consult_span Телефон отдела продаж
    a.news__consult_phone(href="tel: +38 (044) 361-34-14")  +38 (044) 361-34-14