header.header
  a.header__logo(href="")
    img(src="img/icons/logo.png", alt="")
    span
      | Оптимал
      b авто
  .menu__butter
  .header__phones
    .header__phones_numbers_mobile
    .header__phones_numbers
      a.header__phones_main(href="tel:(044) 361-34-14") (044) 361-34-14
      span.header__phones_all все номера
        i.fa.fa-angle-down
      .header__phones_popup
        span.header__phones_popup-title Все номера телефонов
        .header__phones_popup-content
          a.header__phones_popup-line(href="tel:(050) 361-34-14")
            span.header__phones_popup-oper vodafone
            span.header__phones_popup-num.header__phones_popup-num--vodafone (050) 361-34-14
          a.header__phones_popup-line(href="tel:(067) 361-34-14")
            span.header__phones_popup-oper Киевстар
            span.header__phones_popup-num.header__phones_popup-num--kievstar (067) 361-34-14
          a.header__phones_popup-line(href="tel:(063) 361-34-14")
            span.header__phones_popup-oper Lifecell
            span.header__phones_popup-num.header__phones_popup-num--lifecell (063) 361-34-14
    span.header__phones_getcall Заказать обратный звонок

  .header__search
    .header__search--icon
    .header__search--mobile
      form.header__search_form(action="")
        input.header__search_input(type="text" placeholder="... поиск запчастей")
        input.header__search_submit(type="submit" value="")
      .header__vin 
        span.header__vin_span Подбор по VIN-коду
        .header__vin_popup
          .header__vin_popup-top
            span.header__vin_title Для подбора запчастей по Вин-коду:
            span.header__vin_subtitle Введите номер вин-код Вашего автомобиля в поле поиска
          span.header__vin_subtitle или отправьте запрос нашему менеджеру
          span.header__vin_btn Отправить запрос
          .header__vin_popup-bottom
            span.header__vin_popup-bottom_title Где взять ВИН-код:
            .header__vin_popup-bottom_flex
              img(src="img/udo.png", alt="")
              span Вин-код отображен на водительских правах, на обороте с технческой информацией

  .header__btns
    .header__cart.header__btns_block
      .header__cart_container.header__btns_block--container
        i.fa.fa-shopping-cart.header__cart_icon
        span.header__cart_count 2
      .header__cart_popup
        span.header__cart_popup-title Список добавленных товаров
        .header__cart_popup-content
          .header__cart_popup-caption
            span Цена
            span Сумма
          .header__cart_item
            b.header__cart_item-title Масляный фильтр NIPPARTS - J1310500
            span.header__cart_item-count 1шт
            span.header__cart_item-price 66грн
            span.header__cart_item-sum 
              span 66
              | грн
          .header__cart_item
            b.header__cart_item-title Масляный фильтр NIPPARTS - J1310500
            span.header__cart_item-count 2шт
            span.header__cart_item-price 66грн
            span.header__cart_item-sum 
              span 128
              | грн
          .header__cart_item-over
            b Всего
            span.header__cart_item-over-price 
              span 228
              | грн
          a.header__cart_btn(href="") Начать оформление
    .header__cab.header__btns_block
      .header__cab_nologin.header__btns_block--container
        i.fa.fa-sign-in.header__cab_icon.header__cab_in
        span.header__cab_title Кабинет 
      .header__cab_login
        span.header__cab_name Константин Контантиновский
        i.fa.fa-sign-out.header__cab_icon.header__cab_out
        span.header__cab_count 99
      .header__cab_popup
        span.header__cab_popup-title Авторизация
        .header__cab_popup-content
          span.header__cab_popup-nonumber Указанный номер не был найден в нашей базе
          span.header__cab_popup-caption Ваш номер телефона
          form.header__cab_popup-form(action="")
            .header__cab_popup-phone
              span +38
              input.header__cab_popup-input(type="tel" placeholder="(___) ___-__-__")
            input.header__cab_popup-submit(type="submit" value="Отправить SMS")
          .header__cab_popup-sms-block
            span.header__cab_popup-nonumber Вы указали неверный код
            span.header__cab_popup-caption Введите код из SMS
            form.header__cab_popup-sms(action="")
              input.header__cab_popup-input.header__cab_popup-input-sms(type="text" placeholder="")
              input.header__cab_popup-submit(type="submit" value="Подтвердить")
            span.header__cab_popup-sms-no Не пришла SMS? 
            span.header__cab_popup-sms-no_btn Отправить еще раз


