header.header
  a.header__logo(href="")
    img(src="img/icons/logo.png", alt="")
    span
      | Оптимал
      b авто
  .header__phones
    .header__phones_numbers
      a.header__phones_main(href="tel:(044) 361-34-14") (044) 361-34-14
      span.header__phones_all все номера
        i.fa.fa-angle-down
      .header__phones_popup
        span.header__phones_popup-title Все номера телефонов
        .header__phones_popup-content
          a.header__phones_popup-line(href="tel:(050) 361-34-14")
            span.header__phones_popup-oper vodafone
            span.header__phones_popup-num.header__phones_popup-num--vodafone (050) 361-34-14
          a.header__phones_popup-line(href="tel:(067) 361-34-14")
            span.header__phones_popup-oper Киевстар
            span.header__phones_popup-num.header__phones_popup-num--kievstar (067) 361-34-14
          a.header__phones_popup-line(href="tel:(063) 361-34-14")
            span.header__phones_popup-oper Lifecell
            span.header__phones_popup-num.header__phones_popup-num--lifecell (063) 361-34-14
    span.header__phones_getcall Заказать обратный звонок

  .header__search
    form.header__search_form(action="")
      input.header__search_input(type="text" placeholder="... поиск запчастей")
      input.header__search_submit(type="submit" value="")
    span.header__search_vin Подбор по VIN-коду
  .header__btns
    .header__cart
      .header__cart_container
        i.fa.fa-shopping-cart.header__cart_icon
        span.header__cart_count 2
      .header__cart_popup
        span.header__cart_popup-title Список добавленных товаров
        .header__cart_popup-content
          .header__cart_popup-caption
            span Цена
            span Сумма
          .header__cart_item
            b.header__cart_item-title Масляный фильтр NIPPARTS - J1310500
            span.header__cart_item-count 1шт
            span.header__cart_item-price 66грн
            span.header__cart_item-sum 
              span 66
              | грн
          .header__cart_item
            b.header__cart_item-title Масляный фильтр NIPPARTS - J1310500
            span.header__cart_item-count 2шт
            span.header__cart_item-price 66грн
            span.header__cart_item-sum 
              span 128
              | грн
          .header__cart_item-over
            b Всего
            span.header__cart_item-over-price 
              span 228
              | грн
          a.header__cart_btn(href="") Начать оформление
    .header__cab
      i.fa.fa-sign-in.header__cab_icon.header__cab_in
      span.header__cab_title Кабинет 
      span.header__cab_name Константин Контантиновский
      i.fa.fa-sign-out.header__cab_icon.header__cab_out
      span.header__cab_count 99


