section.menu
  nav.menu__list
    a.menu__list_item(href="")
      i.fa.fa-bars
      span Все категории
    a.menu__list_item.menu__list_item--to(href="")
      i
      span Запчасти для ТО
    a.menu__list_item.menu__list_item--tormoz(href="")
      i
      span Тормозная система
    a.menu__list_item.menu__list_item--podves(href="")
      i
      span Подвеска и рулевое
    a.menu__list_item.menu__list_item--dvig(href="")
      i
      span Двигатель и система выхлопа
    a.menu__list_item.menu__list_item--trans(href="")
      i
      span Трансмиссия и сцепление
    a.menu__list_item.menu__list_item--ohl(href="")
      i
      span Охлаждение и отопление
    a.menu__list_item.menu__list_item--el(href="")
      i
      span Электрика
    a.menu__list_item.menu__list_item--kuz(href="")
      i
      span Кузовные запчасти
    a.menu__list_item.menu__list_item--maslo(href="")
      i
      span Масло и тех.жидкости
