@import "partials/fonts";
@import "normalize";

body {
  background-color: #2b3841;
}
* {
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-decoration: none;
}
.header {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    height: 100%; 
    width: 175px;
    align-items: center;
    background-color: #ffffff;
    background-image: linear-gradient(41deg, #007b3d 0%, #63a002 100%);

    & img {
      display: block;
      margin-right: 20px;
    }
    & span {
      color: #ffffff;
      font-family: 'Raleway';
      font-size: 21px;
      font-weight: 300;
      letter-spacing: -0.4px;

      & b {
        display: block;
        color: #ffffff;
        font-size: 27px;
        font-family: 'Raleway';
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3.4px;
      }
    }
  }

  &__phones {
    display: flex;
    padding-top: 7px;
    align-items: flex-start;

    &_numbers {
      position: relative;
      text-align: right;
    }
    &_main {
      display: block;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 21px;
      font-weight: 700;
      padding-left: 40px;
      letter-spacing: 0.33px;
      background: url(../img/icons/phone.png) no-repeat center left;
      &:hover {
        text-decoration: underline;
      }
    }
    &_all {
      color: #469513;
      font-size: 12px;
      font-weight: 700;
      display: block;
      cursor: pointer;
      & i {
        padding: 0 3px;
        transition: .1s ease-in-out;
      }
      &--open {
        color: #fefefd;
        & i {
          transform: rotate(-180deg);
        }
      }
    }
    &_popup {
      position: absolute;
      z-index: 10;
      top: 125%;
      top: calc(100% + 10px);
      right: 0;
      width: 235px;
      box-shadow: -3px 0 38px rgba(0, 0, 0, 0.18);
      border-radius: 4px;
      padding: 5px;
      box-sizing: border-box;
      background-color: #63a002;
      opacity: 0;
      visibility: hidden;
      transition: .2s ease-in-out;
      &--open {
        opacity: 1;
        visibility: visible;
      }
      &:before {
        position: absolute;
        content: '';
        top: -6px;
        right: 5px;
        width: 13px;
        height: 13px;
        transform: rotate(45deg);
        background: #63a002;
      }
      &-title {
        display: block;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        padding-right: 5px;
        padding-bottom: 5px;
      }
      &-content {
        background-color: #ffffff;
      }
      &-line {
        display: block;
        border-bottom: 1px solid #dfdddd;
        padding: 10px 13px 20px;
        &:hover {
          background-color: #f6f6f6;
        }
      }
      &-oper {
        color: #737374;
        font-size: 12px;
        font-weight: 300;
      }
      &-num {
        display: block;
        color: #2b3841;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        background: url(../img/icons/mobile-operators.png) no-repeat;
        &--vodafone {
          background-position: 0 4px;
        }
        &--kievstar {
          background-position: 0 -73px;
        }
        &--lifecell {
          background-position: 0 -154px;
        }
      }
    }
    &_getcall {
      margin-top: 3px;
      margin-left: 34px;
      display: inline-block;
      color: #6db003;
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 2px;
      border-bottom: 1px dashed #5f9817;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    &_form {
      display: flex;
      margin-right: 50px;
    }
    &_vin {
      color: #fbf7f7;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      cursor: pointer;
    }
    &_input {
      width: 210px;
      height: 37px;
      display: block;
      margin-right: 7px;
      text-align: right;
      padding-right: 13px;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.11);
      border-radius: 19px;
      border: none;
      box-sizing: border-box;
      outline: none;
      background-color: #f7f5f5;
      color: #4c4949;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
    }
    &_submit {
      display: block;
      box-sizing: border-box;
      border: none;
      outline: none;
      width: 57px;
      height: 37px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
      border-radius: 19px;
      background-color: #f7f5f5;
      background-image: url(../img/icons/search.png), linear-gradient(41deg, #007b3d 0%, #63a002 100%);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      &:hover {
        background-image: url(../img/icons/search.png), linear-gradient(41deg, #63a002 0%, #007b3d 100%);
      }
    }
  }

  &__cart {
    background: rgba(30, 43, 52, .41);
    height: 100%;
    position: relative;
    &_container {
      height: 100%;
      width: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &_icon {
      font-size: 25px;
      font-weight: 400;
      line-height: 63.88px;
      color: rgba(255, 255, 255, 0.88);
      opacity: 0.5;
    }
    &_count {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 18px;
      height: 18px;
      background-color: #63a002;
      color: #ffffff;
      border-radius: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.14px;
    }
    &_popup {
      position: absolute;
      z-index: 10;
      top: 90%;
      right: 0;
      width: 457px;
      padding: 5px;
      box-sizing: border-box;
      box-shadow: -3px 0 38px rgba(0, 0, 0, 0.18);
      border-radius: 4px;
      background-color: #63a002;
      opacity: 0;
      visibility: hidden;
      transition: .2s ease-in-out;
      &--open {
        opacity: 1;
        visibility: visible;
      }
      &:before {
        position: absolute;
        content: '';
        top: -6px;
        right: 28px;
        width: 13px;
        height: 13px;
        transform: rotate(45deg);
        background: #63a002;
      }
      &-title {
        display: block;
        text-align: right;
        padding-right: 15px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 5px;
      }
      &-content {
        background-color: #ffffff;
        padding: 25px 15px 15px;
      }
      &-caption {
        display: flex;
        justify-content: flex-end;
        & span {
          display: block;
          width: 80px;
          color: #2b3841;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          box-sizing: border-box;
          &:last-child {
            text-align: right;
            padding-right: 10px;
          }
        }
      }
    }
    &_item {
      display: flex;
      align-items: flex-end;
      margin-bottom: 45px;
      &-price, &-sum {
        width: 80px;
        flex-shrink: 0;
      }
      &-title {
        flex-grow: 2;
        color: #2b3841;
        font-size: 14px;
        line-height: 20px;
        padding-right: 10px;
      }
      &-count {
        color: #2b3841;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        width: 60px;
        flex-shrink: 0
      }
      &-sum {
        text-align: right;
        color: #737374;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        & span {
          font-size: 24px;
        }
      }
      &-price {
        color: #737374;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
      }
      &-over {
        display: flex;
        justify-content: flex-end;
        color: #2b3841;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 30px;
        &-price {
          display: block;
          margin-left: 40px;
          color: #737374;
          font-size: 12px;
          font-weight: 300;
          line-height: 16px;
          & span {
            font-size: 24px;
          }
        }
      }
    }
    &_btn {
      display: block;
      margin: 0 auto;
      width: 216px;
      height: 42px;
      border-radius: 21px;
      border: 1px solid #007b3d;
      box-sizing: border-box;
      color: #000201;
      font-size: 12px;
      font-weight: 500;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
    }
  }
  &__btns {
    height: 100%;
    display: flex;
  }
  &__cab {
    position: relative;
    width: 150px;
    background: rgba(30, 43, 52, .41);
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    .header__cab_login {
      display: none;
    }
    &--login {
      .header__cab_nologin {
        display: none;
      }
      .header__cab_login {
        display: flex;
      }
    }
    &_login, &_nologin {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &_icon {
      font-size: 25px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.88);
      opacity: 0.5;
      display: block;
      margin-right: 10px;
      flex-shrink: 0;
    }
    &_title {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.14px;
    }
    &_name {
      display: block;
      color: #ffffff;
      font-size: 10px;
      font-weight: 400;
      line-height: 16px;
    }
    &_count {
      position: absolute;
      top: 12px;
      left: 0;
      width: 18px;
      height: 18px;
      background-color: #e62241;
      color: #ffffff;
      font-size: 10px;
      font-weight: 700;
      line-height: 18px;
      text-align: center;
      border-radius: 100%;
      letter-spacing: -0.1px;
    }
    &_popup {
      position: absolute;
      top: 90%;
      right: 25px;
      width: 392px;
      padding: 5px;
      box-sizing: border-box;
      box-shadow: -3px 0 38px rgba(0, 0, 0, 0.18);
      border-radius: 4px;
      background-color: #63a002;
      opacity: 0;
      visibility: hidden;
      transition: .15s ease-in-out;
      &--open {
        opacity: 1;
        visibility: visible;
      }
      &:before {
        position: absolute;
        content: '';
        top: -6px;
        right: 28px;
        width: 13px;
        height: 13px;
        transform: rotate(45deg);
        background: #63a002;
      }
      &-title {
        display: block;
        text-align: right;
        margin-bottom: 5px;
        padding-right: 30px;
        padding-top: 5px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
      }
      &-content {
        background-color: #ffffff;
        padding: 25px 15px 25px 20px;
      }
      &-caption {
        color: #2b3841;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }
      &-form, &-sms {
        padding-top: 20px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-phone {
        display: flex;
        align-items: center;
        & span {
          color: #8d8e8d;
          font-size: 18px;
          font-weight: 700;
          padding-right: 5px;
        }
      }
      &-input {
        width: 160px;
        height: 41px;
        box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.14);
        border-radius: 19px;
        border: 1px solid #ebe8e8;
        background-color: #fff;
        box-sizing: border-box;
        padding-left: 10px;
        color: #8d8e8d;
        font-size: 18px;
        font-weight: 700;
        padding-right: 5px;
        outline: none;
        &-sms {
          flex-grow: 2;
          margin-right: 23px;
        }
      }
      &-submit {
        width: 127px;
        height: 39px;
        border-radius: 20px;
        border: 1px solid #007b3d;
        color: #000201;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        outline: none;
        background: transparent;
      }
      &-nonumber {
        display: block;
        padding: 13px;
        border-radius: 6px;
        background-color: #feeee7;
        color: #2b3841;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 15px;
      }
      &-sms {
        padding-top: 10px;
        &-no {
          color: #2b3841;
          font-size: 14px;
          font-weight: 400;
          &_btn {
            display: inline-block;
            border-bottom: 1px dashed #6db003;
            color: #6db003;
            font-size: 14px;
            font-weight: 700;
            margin-left: 10px;
            &:hover {
              border-bottom: 1px solid transparent;
            }
          }
        }
      } 
    }
  }
}

.menu {
  width: 175px;
  box-sizing: border-box;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 25px;
  flex-shrink: 0;
  box-shadow: inset -5px 0 15px rgba(0, 0, 0, 0.14);
  background-color: #2b3841;
  &__list {

    &_item {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      & i {
        height: 21px;
        width: 20px;
        margin-right: 11px;
        color: #fff;
        flex-shrink: 0;
        font-size: 18px;
        box-sizing: border-box;
        padding-left: 3px;
        padding-top: 2px;
        font-weight: 400;
        opacity: 0.3;
        background: url(../img/icons/menu.png) no-repeat;
        background-position: 100px 0;
      }
      &--to i {
        background-position: 0 0;
      }
      &--tormoz i {
        background-position: 0 -47px;
      }
      &--podves i {
        background-position: 0 -94px;
      }
      &--dvig i {
        background-position: 0 -148px;
        margin-right: 8px;
        width: 23px;
      }
      &--trans i {
        background-position: 0 -215px;
      }
      &--ohl i {
        background-position: 0 -278px;
      }
      &--el i {
        background-position: 0 -333px;
      }
      &--kuz i {
        background-position: 0 -382px;
      }
      &--maslo i {
        background-position: 0 -442px;
      }
      & span {
        color: #eff0f1;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.12px;
      }
      &:hover span {
        text-decoration: underline;
      }
    }
  }
}

.page {
  display: flex;
}


.content {
  background: #fff;
}

.advantages {
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.27);
  background: rgba(235, 236, 236, .3);
  display: flex;
  padding: 70px 0;
  justify-content: space-around;
  &__item {
    width: 22%;
    &_text {
      display: block;
      text-align: center;
      color: #020000;
      font-family: 'Raleway';
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
    }
    &_icon {
      height: 120px;
      text-align: center;
      & i {
        display: block;
        width: 68px;
        height: 68px;
        margin: 0 auto;
        background: url(../img/icons/advantages.png) no-repeat;
      }
      &--multi i {
        background-position: 0 0;
      }
      &--all i {
        background-position: -600px -2px;
      }
      &--origin i {
        background-position: -296px 0;
      }
      &--garant i {
        background-position: -892px -3px;
      }
    }
  }
}


.popular {
  padding: 50px 40px 100px 60px;
  background: #fff;
  &__flex {
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #e9eaeb;
    flex-wrap: wrap;
  }
  &__category {
    width: 50%;
    padding: 35px 30px 25px 40px;
    box-sizing: border-box;
    border-right: 1px solid #e9eaeb;
    border-bottom: 1px solid #e9eaeb;
  }
  &__model {
    border-right: none;
  }
  &__title {
    color: #020400;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-bottom: 25px;
  }
  &__list {
    display: flex;
    padding-top: 13px;
    border-top: 2px dotted #bfc1be;
    &_block {
      width: 50%;
      box-sizing: border-box;
      &:first-child {
        border-right: 1px solid #e9eaeb;
        padding-right: 30px;
      }
      &:last-child {
        padding-left: 20px;
      }
    }
    &_item {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title {
        color: #040000;
        font-size: 14px;
        font-weight: 300;
      }
      &-count {
        color: #0976bf;
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
  &__btns {
    width: 100%;
    padding: 25px 70px 25px 50px;
    display: flex;
    justify-content: space-between;
    &-search {
      display: block;
      width: 216px;
      height: 42px;
      border-radius: 21px;
      border: 1px solid #007b3d;
      box-sizing: border-box;
      color: #000201;
      font-size: 12px;
      font-weight: 500;
      line-height: 40px;
      text-align: center;
    }
    &-all {
      display: block;
      width: 180px;
      height: 42px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 21px;
      background-color: #e5e5e5;
      background-image: linear-gradient(41deg, #007b3d 0%, #63a002 100%);
      color: #ffffff;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      & i {
        display: inline-block;
        padding-left: 10px;
      }
    }
  }
}

.news {
  padding: 125px 80px 65px;

  &__consult {
    padding: 30px 0 0;
    text-align: center;
    & i {
      color: #6db003;
      font-size: 60px;
      font-weight: 400;
      line-height: 29.61px;
    }
    &_need {
      display: block;
      margin: 35px 0 20px;
      color: #030000;
      font-family: 'Raleway';
      font-size: 30px;
      font-weight: 700;
    }
    &_span {
      display: block;
      margin-bottom: 25px;
      color: #030000;
      font-family: "Open Sans";
      font-size: 24px;
      font-weight: 300;
      line-height: 24px;
    }
    &_phone {
      display: inline-block;
      color: #020400;
      font-family: "Open Sans";
      font-size: 36px;
      font-weight: 300;
      line-height: 24px;
    }
  }
  &__img {
    float: left;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    &_left, &_right {
      width: 47%;
      box-sizing: border-box;
    }
  }
  &__img {
    width: 100%;
    display: block;
    margin-bottom: 80px;
  }
  &__citate {
    color: #040000;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Raleway';
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
    border-left: 4px solid #5f9817;
    margin-left: 5px;
    padding-left: 15px;
  }
  &__title {
    margin: 0 0 25px;
    color: #020202;
    font-family: "Raleway";
    font-size: 48px;
    font-weight: 800;
    line-height: 54px;
  }
  &__text {
    margin: 0 0 20px;
    color: #040000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  &__label {
    margin-bottom: 35px;
    display: block;
    color: #797878;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    & i {
      padding-right: 7px;
    }
  }
}















.footer {
  background-color: #2b3841;

  &__bottom {
    display: flex;
    justify-content: space-between;
    background-color: #26333c;
    padding: 15px 40px 30px 0;
  }
  &__menu {
    display: flex;
    &_item {
      display: block;
      margin-left: 60px;
      color: #fafafa;
      font-family: 'Roboto';
      font-size: 13px;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__copyright {
    color: #fafafa;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
  }
  &__phones {
    max-width: 405px;
    text-align: right;
    &_flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &_getcall {
      display: inline-block;
      text-align: right;
      color: #6db003;
      font-family: 'Raleway';
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px dashed #6db003;
      cursor: pointer;
      &:hover {
        border-bottom: 1px dashed transparent;
      }
    }
  }
  &__top {
    padding: 35px 40px 40px 60px;
    display: flex;
    justify-content: space-between;
  }
  &__phone {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.32px;
    margin-bottom: 12px;
    padding-left: 45px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
    &_icon {
      background: url(../img/icons/phone.png) no-repeat center left;
    }
  }
  &__address {
    display: flex;
    &_item {
      margin-right: 40px;
      &--right {
        text-align: right;
      }
      & span {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        display: block;
      }
    }
    &_title {
      display: block;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      letter-spacing: 0.5px;
    }
  }
}

.tabs {
  padding: 35px 40px 45px 60px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.13);
  background: url(../img/index-bg.png) no-repeat center;
  background-size: cover;

  &__title {
    margin: 0 0 40px;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 54px;
    font-weight: 800;
    line-height: 54px;
  }
  &__block {
    border-radius: 5px;
    background: #f6f6f6;
  }
  &__top {
    display: flex;
    height: 103px;
    padding: 0 30px;
    box-sizing: border-box;
    align-items: center;
    &_span {
      flex-basis: 185px;
      color: #020000;
      font-family: 'Raleway';
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
    }
    &_span2 {
      flex-grow: 2;
      color: #030303;
      font-size: 16px;
      font-weight: 400;
      padding-left: 70px;
      display: block;
    }
    &_content {
      display: flex;
      align-items: center;

      display: none;

    }
    &_img {
      flex-basis: 55px;
      margin-right: 15px;
      width: 55px;
      & img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &--mark {
      color: #040000;
      font-family: 'Raleway';
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      display: block;
    }
    &_text-content span {
      color: #737171;
      font-family: 'Raleway';
      font-size: 14px;
      font-weight: 500;
      padding-right: 15px;
    }
  }
  &__container {
    display: flex;
    padding-right: 22px;
  }
  &__items {
    width: 185px;
    flex-basis: 185px;
  }
  &__item {
    padding-left: 15px;
    border-left: 5px solid transparent;
    border-bottom: 1px solid #edebeb;
    display: flex;
    height: 80px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    &--active {
      background: #fff;
      border-left: 5px solid #128232;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid transparent;
    }
    &_number {
      display: block;
      width: 26px;
      height: 26px;
      box-sizing: border-box;
      border: 1px solid transparent;
      border-radius: 100%;
      background-color: #edebeb;
      color: #000000;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      margin-right: 20px;
    }
    &_title {
      color: #010000;
      font-size: 13px;
      font-weight: 400;
    }
    &--active {
      & .tabs__item_number {
        border: 1px solid #5f9817;
        background-color: #ffffff;
      }
      & .tabs__item_title {
        color: #060000;
        font-weight: 700;
      }
    }
    
  }
  &__area {
    flex-grow: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 0 0 5px 0;
    
    &_container {
      display: flex;
      flex-wrap: wrap;
    }
    &_item {
      width: 20%;
    }
    &-mark {

      &_item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 80px;
        box-sizing: border-box;
        border-right: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
        cursor: pointer;

        &:hover {
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
          background-color: rgba(2, 82, 116, 0.04);
        }
        &--active {
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.13);
          border: 1px solid #599c08;
          position: relative;
          &::before {
            position: absolute;
            content: '';
            top: -6px;
            right: -7px;
            width: 19px;
            height: 19px;
            background: url(../img/icons/check.png) no-repeat center, #63a002;
            border-radius: 100%;
          }
        }

        &_img {
          width: 55%;
          & img {
            display: block;
            margin: 0 auto;
          }
        }
        &_name {
          display: block;
          width: 45%;
          color: #000000;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
        }
      }
    }
  }
}

















